body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
}

h1 {
    color: #333;
}

p {
    color: #555;
}

.aboutCont{
    width:80%;
    margin:0 auto;
}

.banner {
    position: relative;
}
  
.bannerImg {
    max-width: 100%; /* set the width of the image */
    object-fit: cover; /* maintain aspect ratio of image */
    height : 600px;
}

/* About.css */
.contact-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-info {
    margin-top: 20px;
}

.contactPadding{
    margin-top : 100px;
}
