.petsContainer {
    background-color: #f5f5f5;
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    display: flex; /* ensure that child elements are displayed in a row */
    flex-wrap: wrap; /* allow child elements to wrap to the next line if needed */
    justify-content: space-evenly; /* distribute child elements evenly along the row */
  }
  

.mainContainer {
    width: 100%;
    margin: 0; 
    padding: 0; 
}

.petImage{
    width: 280px;
    height: 360px;
    justify-content: center;
}

.flip-horizontal-bottom {
	-webkit-animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@keyframes flip-horizontal-bottom {
    0% {
      transform: rotateX(0);
    }
    100% {
      transform: rotateX(-180deg);
    }
  }
  

/* Home.js styling */
.banner {
    position: relative;
}
  
.bannerImg {
    width: 100%; /* set the width of the image */
    object-fit: cover; /* maintain aspect ratio of image */
}
  
.bannerText {
    position: absolute;
    top: 50%;
    left: 18%;
    transform: translate(-50%, -50%); /* Center the text precisely */
    color:white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.cols3 {
    display:flex;
    flex-direction: row; /* arranges elements horizontally (side-by-side) */
  }
  
.cols3 > div {
    flex: 1 0 33.33%; /* equal width for each column */
    margin: 0 10px;
    text-align: center;
}

.pageContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.centredText{
    text-align: center;
}

a{
    color:rgb(18, 140, 197);
}

.textWithImage {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.textWithImage > div {
    width: 50%;
    text-align: center;
}
  
.textWithImage img {
    width: 100%;
    height: auto;
}

.textContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*  style for the form container */
.formContainer {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}
  
.formContainer input[type="text"],
.formContainer select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    font-size: 16px;
}

.formContainer button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
  
.formContainer button:hover {
    background-color: #45a049;
}
  
.formContainer select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    font-size: 16px;
}
  
  /* Add any other styles as needed */
  

/* End of Home.js styling */

// FlipCard

.flip-card-outer {
    width: 280px;
    height: 360px;
    margin: 10px;
  
    &.focus-trigger:focus {
      outline: 5px solid greenyellow;
      outline-offset: 5px;
    }
  
    .flip-card-inner {
      transform-style: preserve-3d;
      transition: .5s linear .1s;
      position: relative;
      width: inherit;
      height: inherit;
  
      &.hover-trigger:hover {
        transform: rotateY(180deg);
      }
  
      &.showBack {
        transform: rotateY(180deg);
      }
    
      .card {
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    
        &.front {
          transform: rotateY(0);
          background-color: #2d2d2d;
          color: #fff;
        }
    
        &.back {
          transform: rotateY(180deg);
          background-color: #fff;
          color: #2d2d2d;
          align-items: center;
        }
      }
    }
  }